<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <app-header [header] = "'JT\'s Trivia Game'"></app-header>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12 d-flex justify-content-center">
      <app-button [route] = "'/game'" [btnName]='startBtn'></app-button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12 d-flex justify-content-center">
      <app-button [route] = "'/options'" [btnName]="'Options'"></app-button>
    </div>
  </div>
</div>
