<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center"> Instructions</h2>
      <p class="text-center"> Here are the instructions for this game</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">

      <div class="container-fluid mt-2">
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <app-header [header]="'Select a topic'"></app-header>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6 d-flex justify-content-center my-2">
            <app-button [route]="'/options'" [btnName]="'Video Games'" (click)="getSelectTopic('videoGames')">
            </app-button>
          </div>
          <div class="col-6 d-flex justify-content-center my-2">
            <app-button [route]="'/options'" [btnName]="'General Knowledge'"
              (click)="getSelectTopic('generalKnowledge')"></app-button>
          </div>
          <div class="col-6 d-flex justify-content-center my-2">
            <app-button [route]="'/options'" [btnName]="'History'" (click)="getSelectTopic('history')"></app-button>
          </div>
          <div class="col-6 d-flex justify-content-center my-2">
            <app-button [route]="'/options'" [btnName]="'Science & Nature'"
              (click)="getSelectTopic('generalKnowledge')"></app-button>
          </div>

        </div>
        <!-- <div class="row mt-2">
          <div class="col-12 d-flex justify-content-center">
            <app-button [route]="'/options'" [btnName]="'Levels'"></app-button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>