<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-2">
      <app-header [header]="'Levels'"></app-header>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-4 d-flex justify-content-center my-2">
      <app-button [route]="'/game'" [btnName]="'Hard'" (click)= "getOptionLevel('1')"></app-button>
    </div>
    <div class="col-4 d-flex justify-content-center my-2">
      <app-button [route]="'/game'" [btnName]="'Medium'" (click)= "getOptionLevel('2')"></app-button>
    </div>
    <div class="col-4 d-flex justify-content-center my-2">
      <app-button [route]="'/game'" [btnName]="'Easy'" (click)= "getOptionLevel('3')"></app-button>
    </div>
  </div>
</div>
